
<ion-header>
  
</ion-header>

<ion-content >

  <ion-header>

  
    <ion-toolbar color="secundary" >
     
      </ion-toolbar>
  </ion-header>
  <br>
  <br>
  <br>
  <br>

  <div >
  <img src="assets/foto.png">
</div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  

    
  <div style="margin: 0 auto; width:100px">  
    
    <button class="button-38" style="margin-left: 16px" role="button" ><ion-router-link href="/login1" color="Dark">Login</ion-router-link></button >
    <br>
    <br>
    <button class="button-38"  role="button" ><ion-router-link href="/registro"  color="Dark">Registrarse</ion-router-link></button>
  </div>


<br>


</ion-content>
