<style>
  h1 {
    text-align: center;
  }
  p {  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  font-family: fantasy;
  border: rgb(53, 53, 53) 2px solid;}

  </style>

<ion-header>
   <br>

      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          <ion-label>
          </ion-label>
      </ion-title>

  </ion-header>
  
  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>           
             <h6 style="color: #f78383;"><p>Registro de usuario</p></h6>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
          <ion-item>
            <ion-label position="floating">Email: </ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input formControlName="password" type="password" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Confirmar contraseña:</ion-label>
            <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
          </ion-item>
          <br>
          <ion-button (click)="onSubmit()" expand="full" fill="outline"  color="danger" ><ion-router-link color="danger" >Registrarme</ion-router-link>
          </ion-button>
        </form>
        <br>
        <br>
        <ion-button size="small" expand="full" fill="outline"  color="danger"  ><ion-router-link color="danger"  href="/home">Volver</ion-router-link></ion-button >

      </ion-card-content>
    </ion-card>
  </ion-content>